html,
html * {
    margin: 0px;
}

h1 {
    font-size: 2em;
}

.grid-img {
    height: 80%;
}

.grid-img-w {
    width: 80%;
}


/* 
--red: #ea2340
--coldgrey: #1c1d24
 */


/* Containers */

.container-100vh-nopad {
    max-height: 100vh;
    width: 100%;
}

.content-container-50vh {
    display: grid;
    grid-template-rows: 10vh 40vh;
    overflow: hidden;
}


/* Slider Containers */

.sliderflex-container-50vh {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}


/* Slider Block */

.slider-text-50vh {
    text-align: left;
}

.sliderflex-cards-50vh {
    /* to make it inline */
    flex: 0 0 auto;
    height: 70%;
    width: 20em;
    margin: 1em 2em 1em 2em;
    padding: 1em;
    border-radius: 2em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


/* Misc */

.transparent-block {
    height: 0px;
}


/* Headlines */

.headline-l {
    z-index: 1010;
    text-align: left;
}

.headline-c {
    z-index: 1010;
    text-align: center;
}


/* Flexes */

.flex-ccc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexrow-ccc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.flexrow-cccl {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
}

.flex-lbl {
    display: flex;
    justify-content: left;
    align-items: flex-end;
    text-align: left;
}

.flex-lcl {
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
}

.flex-cc {
    display: flex;
    align-items: center;
    text-align: center;
}


/* Navigation bar */

.Navbar {
    display: grid;
    grid-template-columns: 10% 1fr;
    position: fixed;
    z-index: 1100;
    mix-blend-mode: difference;
    width: 100%;
    padding: 2em;
}

.NavbarLogo {
    height: 20px;
    width: auto;
}

.NavbarPages {
    text-align: center;
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 4em;
    font-size: 20px;
}

.NavbarPages>li>a {
    padding-left: 1em;
    color: white;
    text-decoration: none;
}

.NavbarPages>li>a:active,
a:hover {
    color: gold;
}


/* Grids */

.grid-autofit-la {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
}

.grid-60-40-col {
    display: grid;
    grid-template-columns: 60% auto;
}


/* Grid Blocks */

.grid-block-100vh-img,
.grid-block-100vh-text {
    height: 100vh;
    width: 100%;
    min-width: 305px;
}

.grid-block-50vh-img,
.grid-block-50vh-text {
    height: 50vh;
    width: auto;
    min-width: 305px;
}


/* Background-Colors */

.bg-black {
    background-color: black;
    color: white;
}

.bg-coldgrey {
    background-color: #1c1d24;
    color: white;
}

.bg-grey {
    background-color: rgb(64, 64, 64);
    color: white;
}

.bg-smokewhite {
    background-color: rgb(235, 235, 235);
    color: rgb(64, 64, 64);
}

.bg-white {
    background-color: white;
    color: black;
}

.bg-red {
    background-color: #ea2340;
    color: white;
}

.bg-wheat {
    background-color: #f5eee6;
    color: black;
}

.bg-yellow {
    background-color: yellow;
    color: grey;
}

.bg-UI {
    background-color: #f9d749;
    color: rgb(64, 64, 64);
}

.bg-smansa {
    background-color: #3778a8;
    color: white;
}


/* From Old */

.block-90vh {
    min-height: 20vh;
    max-height: 60vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* CTAs */

.cta-outline-white {
    color: white;
    border: 1px solid white;
    border-radius: 2em;
    padding: 1em 2em 1em 2em;
}

.cta-outline-red {
    color: #ea2340;
    border: 1px solid #ea2340;
    border-radius: 2em;
    padding: 1em 2em 1em 2em;
}


/* Margins */

.margin-1em {
    margin: 1em;
}

.margin-2em {
    margin: 2em;
}


/* Paddings */

.padding-1em {
    padding: 1em;
}

.padding-6em {
    padding: 6em;
}


/* Shadows */

.shd-4 {
    box-shadow: 0px 4px 8px rgb(64, 64, 64);
    border-radius: 8px;
}


/* Basic Shapes */

.circle-md {
    overflow: hidden;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


/* Customization */

#slider-photo {
    background-image: url("img/card-photo.webp");
    color: white;
}

#slider-film {
    background-image: url("img/card-film.webp");
    color: #f9d749;
}

#slider-prog {
    background-image: url('img/card-prog.webp');
    color: white;
}

@media only screen and (max-width: 609px) {
    .grid-block-100vh-img {
        overflow: hidden;
        height: 70vh;
        width: 100%;
        text-align: center;
    }
    .grid-block-100vh-text {
        overflow: hidden;
        height: 30vh;
        width: 100%;
        text-align: center;
    }
    .grid-block-50vh-img {
        height: 50vh;
        width: 100%;
        min-width: 305px;
    }
    .grid-block-50vh-text {
        height: 50vh;
        width: auto;
        min-width: 305px;
    }
    .grid-row-2 {
        grid-row: 2;
    }
    .transparent-block {
        height: 6em;
    }
    .headline-c {
        grid-row: 2;
    }
    .headline-l {
        height: 30vh;
        text-align: left;
    }
}