@charset "UTF-8";
@font-face {
    font-family: "brusher";
    src: url("brusher.eot");
    src: url("brusher-webfont.woff") format("woff"), url("Brusher.otf") format("opentype"), url("brusher.svg#filename") format("svg");
}

html,
html * {
    margin: 0px;
    /*make the whole page margin 0px*/
}

body {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    color: white;
    width: 100%;
    max-width: 100%;
}

img {
    mix-blend-mode: difference;
}

li {
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 2em;
    mix-blend-mode: difference;
}

h5 {
    mix-blend-mode: difference;
}

section {
    display: block;
}

.header {
    display: grid;
    grid-template-columns: 10% 1fr;
    grid-template-areas: 'logo navbar';
    position: fixed;
    z-index: 1000;
    mix-blend-mode: difference;
    min-width: 100%;
}

.hazlogo {
    z-index: 1000;
    grid-area: logo;
    /*display: inline-block;*/
    /*because now hazlogo is outside any container, position can be fixed*/
    /*position: fixed;*/
    height: 1em;
    margin-top: 1em;
    margin-left: 2em;
}

.topnav {
    z-index: 1000;
    grid-area: navbar;
    /*because now topnav is outside any container, position can be fixed
	position: fixed;
	width: 100%;*/
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /*Nav Settings*/
    margin: 0;
    padding: 1em 2em;
    color: white;
    mix-blend-mode: difference;
    transition: transform .2s;
    /* Animation */
}

.topnav>ul {
    text-align: right;
}

.topnav>ul>li {
    float: left;
    margin: 0px 0.65em 0px 0.65em;
}


/* Belom Dipelajari*/

nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}

nav ul li a:hover {
    color: #555;
}


/* stroke */

nav.topnav ul li a {
    position: relative;
}

nav.topnav ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    op right: 0;
    margin: 0;
    width: 0%;
    content: '.';
    color: transparent;
    background: #aaa;
    height: 1px;
}

nav.topnav ul li a:hover:after {
    width: 100%;
}

nav.topnav ul li a {
    transition: all 2s;
}

nav.topnav ul li a:after {
    text-align: left;
    content: '.';
    /*set margin for horizontal line*/
    margin-bottom: -8px;
    opacity: 0;
}

nav.topnav ul li a:hover {
    color: #fff;
    z-index: 1;
}

nav.topnav ul li a:hover:after {
    z-index: -10;
    animation: fill 1s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation: fill 1s forwards;
    opacity: 1;
}


/*put the fixed content you want to mix-blend out from any container except body(parent)*/

.hero {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    align-items: center;
    background-color: black;
}

.catchyword {
    z-index: 1000;
    padding: 2em;
    margin-top: auto;
    margin-bottom: 2em;
}

.catchyword h1 {
    z-index: 1000;
}

.catchyword h1 span a {
    border: solid 1px white;
    border-radius: 100px;
    padding: 1em 2em 1em 2em;
    margin-top: 2em;
}

.photoshootcontainer {
    position: absolute;
    top: 50%;
    margin-right: 1fr;
    margin-left: auto;
    right: 3em;
    transform: translateY(-50%);
    grid-area: h1;
    z-index: 1;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.photoshootcontainer img {
    min-width: 50px;
    height: 70vh;
    min-height: 70vh;
    width: auto;
}

.name {
    margin-top: 1em;
    grid-area: name;
}

.filmmaking {
    /* grid styles */
    position: relative;
    background-color: #111111;
    height: 100vh;
    overflow: hidden;
}

.filmmaking>h1 {
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1fr;
    left: 8vw;
    grid-area: title;
    font-size: 20vw;
    font-weight: 300;
    font-family: brusher;
    padding-bottom: 1rem;
    text-align: center;
    align-items: center;
    mix-blend-mode: difference;
}

.filmmaking>h5 {
    position: absolute;
    text-align: right;
    line-height: 1.5em;
    bottom: 1em;
    right: 2em;
    padding: 1em 0px 0px 0px;
    font-weight: 400;
    font-size: 1em;
}

.filmmaking>div {
    grid-area: image;
    text-align: right;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2em;
    left: 4fr;
}

.filmmaking>div>img {
    width: 100%;
    height: auto;
    min-width: 1vw;
    max-width: 50%;
    mix-blend-mode: normal;
}

.filmmaking>.sectionname {
    text-align: left;
}

.filmmaking>.jobdesc {
    text-align: right;
}

.filmmakingextended {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    height: auto;
    max-height: 50vh;
    align-items: center;
}

.filmmakingextended>div {
    overflow: scroll;
    white-space: nowrap;
    min-height: 10vh;
    display: flex;
    align-items: center;
}

.filmmakingextended>div>div {
    font-size: 100%;
    width: 100%;
    text-align: center;
    mix-blend-mode: normal;
    color: black;
}

.filmmakingextended>div>img {
    max-height: 40vh;
    width: auto;
    margin: 1em;
    mix-blend-mode: normal;
    box-shadow: 0px 0px 26px 2px #505050;
    -webkit-box-shadow: 0px 3px 16px 1px #505050;
}