@font-face {
    font-family: "brusher";
    src: url("brusher.eot");
    src: url("brusher-webfont.woff") format("woff"), url("Brusher.otf") format("opentype"), url("brusher.svg#filename") format("svg");
}


/* Default */

html,
html * {
    margin: 0px;
    /*make the whole page margin 0px*/
}

body {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    color: white;
    width: 100%;
    max-width: 100%;
}

img {
    mix-blend-mode: difference;
}

li {
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    mix-blend-mode: difference;
}

h5 {
    mix-blend-mode: difference;
}

.underline {
    margin: 1em 0px 0.5em 0px;
    border: 0.5px solid white;
}

section {
    display: block;
}


/***** Header ********************/

.header {
    display: grid;
    grid-template-columns: 10% 1fr;
    grid-template-areas: 'logo navbar';
    position: fixed;
    z-index: 1000;
    mix-blend-mode: difference;
    min-width: 100%;
}

.hazlogo {
    z-index: 1000;
    grid-area: logo;
    height: 1em;
    margin-top: 1em;
    margin-left: 2em;
}


/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */

#menuToggle {
    display: block;
    position: absolute;
    top: 50px;
    right: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
}

#menuToggle a:hover {
    color: tomato;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    right: -5px;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none;
}


/*
  * Just a quick hamburger
  */

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}


/* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}


/*
  * But let's hide the middle one.
  */

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}


/*
  * Ohyeah and the last one should go the other direction
  */

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}


/*
  * Make this absolute positioned
  * at the top left of the screen
  */

#menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
}


/*
  * And let's slide it in from the left
  */

#menuToggle input:checked~ul {
    transform: none;
}


/*put the fixed content you want to mix-blend out from any container except body(parent)*/

#hero {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    align-items: center;
    justify-self: center;
    background-color: black;
}

.catchyword {
    z-index: 1000;
    padding: 2em;
    margin-bottom: 3em;
}

.catchyword h1 {
    z-index: 1000;
}

.MyWork {
    border: solid 1px white;
    border-radius: 100px;
    padding: 1em 2em 1em 2em;
    margin-top: 2em;
}

.photoshootcontainer {
    text-align: right;
    overflow: hidden;
    width: 100%;
    padding-top: 3em;
}

.photoshootcontainer>img {
    height: 100vh;
    width: auto;
}

.content {
    display: block;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.16);
    margin: 0.5em 0.5em 1em 0.5em;
    padding: 1em;
    height: 50vh;
}

.TextPhotography {
    z-index: 1;
    position: absolute;
    top: 135vh;
}

.ImagePhotography {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: right;
}

.ImagePhotography>img {
    height: 40vh;
}

#filmmaking {
    background-color: rgba(30, 30, 30, 1);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}

.TextFilmmaking {
    z-index: 1;
    position: relative;
    top: 70%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}

.ImageFilmmaking {
    position: relative;
    top: 30%;
    transform: translateY(-50%);
    text-align: center;
}

.ImageFilmmaking>img {
    width: 40vh;
}

.Footer {
    background-color: black;
    height: 50vh;
    margin-top: 5em;
    padding: 1em;
}

@media only screen and (min-width: 480px) {
    .photoshootcontainer {
        overflow: hidden;
        height: 90%;
        grid-column: 2;
    }
    .photoshootcontainer>img {
        width: auto;
        height: 100vh;
    }
}