@charset "UTF-8";
@font-face {
    font-family: "brusher";
    src: url("brusher.eot");
    src: url("brusher-webfont.woff") format("woff"), url("Brusher.otf") format("opentype"), url("brusher.svg#filename") format("svg");
}

html,
html * {
    margin: 0px;
    /*make the whole page margin 0px*/
}

body {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    color: white;
    width: 100%;
    max-width: 100%;
}

li {
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: white;
}

.underline {
    border: 0.5px solid white;
    margin: 1em 0px 0.5em 0px;
}

section {
    display: block;
}

.header {
    display: grid;
    grid-template-columns: 10% 1fr;
    grid-template-areas: 'logo navbar';
    position: fixed;
    z-index: 1;
    mix-blend-mode: difference;
    min-width: 100%;
}

.hazlogo {
    z-index: 1000;
    grid-area: logo;
    /*display: inline-block;*/
    /*because now hazlogo is outside any container, position can be fixed*/
    /*position: fixed;*/
    height: 1em;
    margin-top: 1em;
    margin-left: 2em;
}


/* Belom Dipelajari*/

nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}

nav ul li a:hover {
    color: #555;
}


/* stroke */

nav.topnav ul li a {
    position: relative;
}

nav.topnav ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    op right: 0;
    margin: 0;
    width: 0%;
    content: '.';
    color: transparent;
    background: #aaa;
    height: 1px;
}

nav.topnav ul li a:hover:after {
    width: 100%;
}

nav.topnav ul li a {
    transition: all 2s;
}

nav.topnav ul li a:after {
    text-align: left;
    content: '.';
    /*set margin for horizontal line*/
    margin-bottom: -8px;
    opacity: 0;
}

nav.topnav ul li a:hover {
    color: #fff;
    z-index: 1;
}

nav.topnav ul li a:hover:after {
    z-index: -10;
    animation: fill 1s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation: fill 1s forwards;
    opacity: 1;
}


/*put the fixed content you want to mix-blend out from any container except body(parent)*/

.topnav {
    z-index: 1000;
    grid-area: navbar;
    /*because now topnav is outside any container, position can be fixed
    position: fixed;
    width: 100%;*/
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /*Nav Settings*/
    margin: 0;
    padding: 1em 2em;
    color: white;
    mix-blend-mode: difference;
    transition: transform .2s;
    /* Animation */
}

.topnav>ul {
    text-align: right;
}

.topnav>ul>li {
    float: left;
    margin: 0px 0.65em 0px 0.65em;
}


/*put the fixed content you want to mix-blend out from any container except body(parent)*/

#hero {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    align-items: center;
    justify-self: center;
    background-color: black;
}

.catchyword {
    padding: 2em;
    margin-bottom: 3em;
}

.MyWork {
    border: solid 1px white;
    border-radius: 100px;
    padding: 1em 2em 1em 2em;
    margin-top: 2em;
}

.photoshootcontainer {
    text-align: right;
    margin-left: 0px;
    overflow: hidden;
    width: 100%;
    padding-top: 3em;
}

.photoshootcontainer>img {
    height: 100vh;
    width: auto;
}

.content {
    display: block;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.16);
    margin: 0.5em 0.5em 1em 0.5em;
    padding: 1em;
    height: 50vh;
}

#photography {
    background-color: #fff;
    /* To make mix-blend-mode: to work, there must be a background color underneath it */
}

.TextPhotography {
    z-index: 2;
    position: absolute;
    top: 135vh;
}

.ImagePhotography {
    z-index: 1;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: right;
}

.ImagePhotography>img {
    height: 45vh;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.527);
}

#filmmaking {
    background-color: rgba(30, 30, 30, 1);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}

.TextFilmmaking {
    z-index: 1;
    position: relative;
    top: 70%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}

.ImageFilmmaking {
    position: relative;
    top: 30%;
    transform: translateY(-50%);
    text-align: center;
}

.ImageFilmmaking>img {
    width: 40vh;
}

.Footer {
    text-align: center;
    background-color: black;
    height: 50vh;
    margin-top: 5em;
    padding: 1em;
}

@media only screen and (min-width: 480px) {
    h1 {
        font-size: 3em;
    }
    .photoshootcontainer {
        overflow: hidden;
        height: 90%;
        grid-column: 2;
    }
    .photoshootcontainer>img {
        width: auto;
        height: 100vh;
    }
    .TextPhotography {
        left: 30%;
        transform: translateX(-50%);
    }
}